@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Pour les navigateurs webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 5px;
  
 }
 
 ::-webkit-scrollbar-track {
  background: #f1f1f1;
  background-color: transparent;
  
 }
 
 ::-webkit-scrollbar-thumb {
  background: linear-gradient(#2196F3, #f00);
  border-radius: 25px;
 }
 
 ::-webkit-scrollbar-thumb:hover {
  background:red;
 }
 html {
  scrollbar-width: thin;
  scrollbar-color: #2196F3 transparent;
 }